/*TABLE OF CONTENTS*/
/*
-General
-Buttons
-Footer

-Items general
-Frontpage
-Page
-Aside


-404
-Responsive rules

-Tidslinjer

-Arkivserier

*/


/*--------General--------*/
*{
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;

  position: relative;

  background-color: #222b31;

  font-family: 'Source Sans Pro', sans-serif;

  font-weight: 300;

  color: #fff;
}


h1, h2, h3, h4{
  font-weight: 600;
  margin: 0 0 1em 0;
}


p{
  font-size: 1.1em;
  line-height: 1.5;
  margin: 0 0 20px 0;
}


a{
  color: #bcc6cc;
  font-weight: 300;
}

a:hover, a:focus{
  /*color: #ec476b;*/
  color: #EE6885;
}




ol, ul{
  font-size: 1.1em;
  margin-left: -20px;

}



table{
  
  width: 100%;
  font-size: 1.1em;
  margin: 20px 0;
  
}

table tr td{
  border: 1px solid gray;
  padding: 5px;
  font-size: .8em;
}

table tr.header td:first-child{
  width: 25%;
}

table tr.header td{
  color: #fff;
  background-color: #384953;
  border: 1px solid #384953;
  padding: 10px;
}



main:after{
  content: "";
  display: block;
  clear: both;
}


.clear{
  clear: both;
}



.hidden{
  display: none;
}


.breadcrumb{
  margin: -20px 0 20px 0;
}


a.skip-main {
    left:-999px;
    position:absolute;
    
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #E61E49; 
    background-color:#fff;
    left: 10px;
    top: 10px;
    width: 30%;
    font-weight: 600;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border: none;/*2px solid #E61E49;*/
    text-align:center;
    font-size:1.2em;
    z-index:300000000;
}

#main-content{
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}


/*--------Buttons-------*/
.btn{

  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  font-size: .7em;

  margin: 0 10px 10px 0;
 
  display: inline-block;
 
  text-decoration: none;
  font-weight: 600;

  transition: transform .2s; /* Animation */  

  cursor: pointer;
}

.btn.green{
  /*background-color: #62c98a;*/
  background-color: #2E8551;
  color: #fff;
}

.btn.white{
  background-color: #fff;
  /*color: #eb4a6d;*/
  color: #E61E49; 
}

.btn .fas{
  font-size: 1.2em;
}

.btn:hover, .btn:focus{
  transform: scale(1.1);
}

.btn.large{
  font-size: 2em;
  width: 100%;
}





/*--------Footer-------*/


footer{
  background-color: #1A2329;

  padding: 10px 50px 50px 50px;

  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}

footer section:after{

  content: "";
  display: table;
  clear: both;

}


footer .logo {
  text-align: center;
}

footer .logo p{
  color: #9aa8b0;
  font-style: italic;
  font-size: 0.6em;

}

footer .logo img{
  width: 160px;
}


footer .col{

  width: 33.33333%;
  float: left;
  padding: 20px;

}

footer h3{
  font-weight: 600;
  margin-bottom: 10px;

}

footer .col ul{

  list-style-type: none;
  margin: 0 0 0 -2.5em;
}

footer .col ul li{
  margin: 0 0 6px 0;
}

footer .col a{

  color: #bcc6cc;
  text-decoration: none;
  font-weight: 400;

}

footer .col a:hover, footer .col a:focus{
  /*color: #EC476B;*/
  color: #EE6885;
}



footer .fa{
  margin-right: 5px;
}






/*------------------------------------------------Item Content used for all items--------*/
/*--------Items general-------*/
.item{
  display: table;
  width: 100%;
  height: 100%;
}

.item .content{
  display: table-cell;

  width: 50%;
  height: 100%;
  padding: 5%;
  font-size: 1em;
}

.item .media{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  width: 50%;
  height: 100%;
  padding: 40px;
}

.item .videoWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
}

.item .videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.item .media img{

  width: 100%;
  height: auto;

  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
}


.item .content h3{
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  font-size: 1.2em;
}

.item .content .logo{
  display: block;
  width: 70%;
  height: auto;
}

.item .content .manchet{
  font-weight: 300;
}


.item .content table.info{
  width: auto;
  font-size: 1em;

  margin: 0 0 1em 0;
}

.item .content table.info td{
  border: none;
  font-size: .8;
  font-weight: 300;
  padding: 5px 20px 5px 0px; 
}

.item .content table.info td:first-child{
  font-size: .9;
  font-weight: 300;
}

.item .background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  z-index: -2;
}

.item .content table.info td a{
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
}

.item .content table.info td a:hover, .item .content table.info td a:focus{
  color: #eb4a6d;
}

.item .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.8+30,0+100 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}


/*------------Sub item--------------*/
/*
.sub-item{
  padding: 15px 0;
  border-bottom: 1px dotted #fff;
}

.sub-item h4.title{

  font-size: 1.5em;
}

.sub-item .thumb{
  width: 33.333333%;
  display: inline-block;
}

.sub-item .wrapper{
  float: right;
  width: 66.666666%;
  padding: 0 0 0 10px;
}

#page .sub-item .manchet{
  font-size: 1.1em;
  margin: 0 0 1em 0;

  width: 70%;
  float: left;
}


#page .sub-item .btn{
  font-size: 1.1em;
}


.sub-item .content{
  display: none;
}
*/





/*------------------------------------------------ Front Page--------*/
/*--------Frontpage-------*/
#frontpage h1, #frontpage h2{

  margin: 0 0 0px 40px;

  font-size: 1.3em;
  font-weight: 600;

  color: #fff;
  text-transform: uppercase;
}

/*GRID*/

#frontpage .boxgrid{

  padding: 20px 20px 0 20px;

}

.boxgrid ul {
  margin: 0;
  padding: 0;
}

.boxgrid li {
  list-style-type: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}


.boxgrid figure {
  background: #384953;
  margin: 0 0 40px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.boxgrid figcaption {
  padding: 20px;
}

.boxgrid figure .boxhead {
  width: 100%;
  height: 200px;
  display: block;

  background-size: cover;
  background-position: top center;
}

.boxgrid figure .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.boxgrid li{
  width: 33.333%

}

.boxgrid ul.clearfix li:nth-of-type(2n+1) {
  clear: none;
}

.boxgrid li:nth-of-type(3n+1) {
    clear: left;
}


.boxgrid a.btn{
  font-size: 0.8em;
  /*padding: 5px 10px;*/
}






/*------------------------------------------------Page--------*/

/*--------Page-------*/
#page {
  padding: 0 0 50px 0;
  width: 1000px;
  margin: auto;
}


#page section{
  display: inline-block;
  width: 66.666666%;

  padding-right: 40px;
}

#page section h1,
#page section h2,
#page section h3,
#page section h4{
clear: both;
}


#page section img{
  max-width: 100%;
  height: auto;
}

#page section img.alignleft{
  float: left;
  margin: 0 20px 20px 0;
}


#page section img.alignright{
  float: right;
  margin: 0 0 20px 20px;
}



#page section img.aligncenter{
  display: block;
  margin: 0 auto 20px auto;
}

#page section .img-column{
  margin-bottom: 1em;
}

#page section .img-column img{
  width: 30%;
  height: auto;
  display: inline-block;
  padding-right: 1em;
  vertical-align: top;
}

#page section .img-column span{

  width: 69%;
  display: inline-block;

}


#page section .img-column span h2,
#page section .img-column span h3,
#page section .img-column span h4{
margin-bottom: .4em;
}



#page section.full{
  display: inline-block;
  width: 100%;

  padding-right: 40px;
}

#page aside{
  display: inline-block;
  float: right;
  width: 33.333333%;  
}



/*-------- Page header --------*/
#page-header {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  display: table;
  margin-bottom: 40px;

  background-size: cover;
}

#page-header .logo{
  margin: 8% 0 5% 50px;
  width: 50%;
  height: auto;
}

#page-header{
  font-size: 2em;
}


/*-------- Page content --------*/

#page h1{
  font-size: 2.5em;
}

#page .manchet{
  margin: 0 0 40px 0;
  padding: 20px 0;

  font-size: 1.5em;
  font-weight: 300;

  border-bottom: 1px solid #fff; 
  border-top: 1px solid #fff;
}


#page .videoWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);

  margin-bottom: 20px;
}

#page .videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






/*----------Aside---------*/

#page aside .box{
  background-color: #384953;
  padding: 25px 25px 5px 25px;

  color: #fff;

  margin-bottom: 20px;
}


#page aside .box.info{
  background-color: #fff;
  color: #222B30;
  border-left: 8px solid #ed476b;
}

#page aside .box.info .nav{
  text-align: center;
  margin-bottom: 20px;
}


#page aside .box.info table.info{
  margin: 0 0 20px 0;
  font-size: 1.2em;
}

#page aside .box.info table.info td{
  border: none;
}

#page aside .box.info table.info a{
  color: #374953;
  font-weight: 400;
  text-decoration: underline;
}

#page aside .box.info table.info a:hover, #page aside .box.info table.info a:focus{
  color: #EC476B;
}

#page aside .box.info .nav .btn{
  margin: 0;
}

#page aside .box h4{
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

#page aside .box p{
  margin: 0 0 20px 0;
}

#page aside .box table{
  width: 100%;
}

#page aside .box table td:first-child{
  font-weight: 700;
  vertical-align: top;
}


#page aside .box .btn{
  margin: 0 0 20px 0;
  font-size: 1em;
}

#page aside .box img{
  width: 100%;
  height: auto;
}








/*-------- Promotion header --------*/
#promotion {
  width: 100%;
  height: 70%;
  position: relative;
  z-index: 1000;
  overflow: hidden;

  display: table;

  margin-bottom: 20px;
}


#promotion .item .content{
  font-size: 1.5em;
  padding: 8% 0% 5% 5%;
  vertical-align: middle;
}

#promotion .item .bg{
  /*
  padding: 20px;
  background-color: rgba(56, 73, 83, 0);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  */

  /*background-color: rgba(56, 73, 83, 0.5); */


  /*
  dark : #5986A3;
  main: #384953;

  blue: #6a94ea;

  */
}



#promotion .item .content .title{
  display: none;
}

/*
#promotion .item .content .background,
#promotion .item .content .overlay{
  display: none;
*/}





/*--------The Grid Carosel--------*/
.grid-carousel {
  background: transparent;
  padding: 0;

  position: relative;

}


#section1 {
position: relative;

}


#section1 .left, .right{
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: green;
  top: 0;
  z-index: 10;
}

#section1 .left{
left: 0;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222b30+0,222b30+100&0.5+0,0+100 */
background: -moz-linear-gradient(left, rgba(34,43,48,0.5) 0%, rgba(34,43,48,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(34,43,48,0.5) 0%,rgba(34,43,48,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(34,43,48,0.5) 0%,rgba(34,43,48,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80222b30', endColorstr='#00222b30',GradientType=1 ); /* IE6-9 */
}

#section1 .right{
right: 0;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222b30+0,222b30+100&0+0,0.5+100 */
background: -moz-linear-gradient(left, rgba(34,43,48,0) 0%, rgba(34,43,48,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(34,43,48,0) 0%,rgba(34,43,48,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(34,43,48,0) 0%,rgba(34,43,48,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222b30', endColorstr='#80222b30',GradientType=1 ); /* IE6-9 */
}


.grid-carousel .flickity-button {
  z-index: 15;
 } 

.flickity-button-icon:hover{fill:#ec476b;color:#ec476b;}


.grid-carousel .flickity-viewport{
      padding: 25px 0 0 0;
}


.carousel-grid-cell {
  position: relative;

  width: 20%;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 40px;
  background: transparent;
  border-radius: 2px;
  /*counter-increment: carousel-cell;*/
  z-index: 0;
  transition: transform .3s; /* Animation */
}


.carousel-grid-cell:hover {
  z-index: 100;
  transform: scale(1.10);

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.carousel-grid-cell.is-selected {
  /*background: #ED2;*/
}

/* cell number */
/*.carousel-grid-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/

.carousel-grid-cell .item .content{
  font-size: .8em;
}




.carousel-grid-cell .open{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 30px;

  background-color: rgba(0, 0, 0, 0.5);

  text-align: center;
  z-index: 500;
}



.carousel-grid-cell .open {
  cursor: pointer;
}

.carousel-grid-cell .open i{
  line-height: 30px;
  font-size: 1.1em;
}


.carousel-grid-cell .item .content .info,
.carousel-grid-cell .item .content p.manchet,
.carousel-grid-cell .item .content .nav,
.carousel-grid-cell .item .overlay,
.carousel-grid-cell .item .media{
  display: none;
}


.carousel-grid-cell .item .content{
  height: 300px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
} 

.carousel-grid-cell .item .content .logo{
  display: inline-block;
  width: 75%;
}

.carousel-grid-cell .item .content .manchet{
  font-weight: 700;
}




/*Ribbon*/
.carousel-grid-cell .item {
  position: relative;
  /*max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);*/
}

/* common */
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 5px 5px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 400 10px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -7px;
  right: -7px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: -3px;
  left: 31px;
}
.ribbon-top-right::after {
  bottom: 31px;
  right: -3px;
}
.ribbon-top-right span {
  left: -27px;
  top: 30px;
  transform: rotate(45deg);
}


/*Blue*/
.ribbon.blue::before,
.ribbon.blue::after {
  border: 5px solid #185d8a;
}
.ribbon.blue span {
  background-color: #207AB6;
}

/*Red*/
.ribbon.red::before,
.ribbon.red::after {
  border: 5px solid #b30f30;
}
.ribbon.red span {
  background-color: #e8133e;
}


/*Orange*/
.ribbon.orange::before,
.ribbon.orange::after {
  border: 5px solid #a06703;
}
.ribbon.orange span {
  background-color: #df8f04;
}








/*
.carousel-grid-cell .background{
  position: absolute;
  top: 0;
  left: 0;

  background-size: cover;
  background-position: top center;

  width: 100%;
  height: 100%;
}*/

/*--------Modal box*/
#modal{
  display: none;
}


.modal{
  display: none;
  position: relative;
  width: 100%;

  font-size: 1.3em;

  margin-bottom: 20px;

}



.modal .ribbon{
  display: none;
}


.modal .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    z-index: 500;
    cursor: pointer;

    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}





/*-------------TAG LIST------------*/
/*
  Used both for Tag-pages and as subelements
*/

#page.tag-list{

  padding-top: 100px;

}

/*
header.tag-list-header{
  height: 100px;
  background-color: #EA4A6D;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: bottom;
}
*/

header.tag-list-header{
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  display: table;
  margin-bottom: 40px;

  background-size: cover;
}






#page.tag-list h1 {
  display: table;
  white-space: nowrap;
  font-weight: 700;
  width: 100%;
}
#page.tag-list h1:before,
#page.tag-list h1:after {
  border-top: 1px solid #fff;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.6em;
  width: 45%;
}
#page.tag-list h1:before {
  right: 1.5%;
}
#page.tag-list h1:after {
  left: 1.5%;
}


#page .tag-el{
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted #fff;
}


#page .tag-el ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#page .tag-el .teaser ul li p{
  margin: 0 0 5px 0;
}

#page .tag-el .teaser ul li p strong{
  font-weight: 600;
}

#page .tag-el:after {
  display: block;
  content: "";
  clear: both;
}


#page .tag-el .thumb{

  display: table;
  background-size: cover;
  background-position: top center;
  width: 33.333333%;
  height: 190px;

  padding: 3%;

 

  float: left;
}

#page .tag-el .thumb .inner{
  width: 100%;
  height: 100%;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#page .tag-el .thumb .logo{

  width: 70%;

}

#page .tag-el .teaser{

  display: inline-block;

  width: 65.666666%;

  padding: 0 0 0 20px;

  float: left;
}



#page .tag-el .teaser h2{
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: 600;
}

#page .tag-el .teaser h2 a{
  color: #fff;
  text-decoration: none;
}

#page .tag-el .teaser h2 a:hover, #page .tag-el .teaser h2 a:focus{
  color: #ea4a6d;
}

#page .tag-el .teaser p{
  margin: 0 0 20px 0;
  font-size: 1.1em;
}


#page .tag-el .teaser .expand{
  font-weight: 600;
  cursor: pointer;
}

#page .tag-el .teaser .content{
  display: none;
}

#page .tag-el .teaser .nav a{
  font-size: 1em;

}



/*-----------404------------*/
#page-404{
  display: table;
  width: 100%;
  height: 70%;

}
#page-404 section{
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}


#page-404 article{
  display: inline-block;
}



/*-----------Tidslinjer------------*/
.tlContainer {
  text-align: center;
  width: 100%;
  height: 450px;
  margin-bottom: 25%;
}

.tlContainer .btn {
  font-size: 1em;
}


.tlContainer iframe {
  width: 100%;
  height: 100%;
}




/*-----------Arkivserier------------*/

.archive_series h3 {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
}

.archive_series .sort {
    width: 25%;
    float: right;
}

.archive_series ul{
  list-style-type: none;
  margin-left: -2em;
  position: relative;
}

.archive_series ul li{
  min-height: 40px;
  border-bottom: 1px solid #818181;    
  padding: 1em 0;
}

.archive_series ul li:first-child {
  border-top: 1px solid #818181; 
}


.archive_series span.icon{
  font-size: 1.5em;
  position: absolute;
}

.archive_series ul li a {
    padding-left: 45px;
    font-size: 1.1em;
    font-weight:300;
    margin: 0;
    display: inline-block;
    max-width: 75%;
}

.archive_series ul li span.year {
    position: absolute;
    right: 0;
}

.archive_series select {
    width: 100%;
    display: inline-block;
    height: 40px;
    color: #E61E49;
    border: 1px solid #727272;
    border-radius: 10px;
    padding: 5px 5px;
    text-indent: 5px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    background: url(data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}



/*-----------Responsive rules------------*/

/*ipad landscape*/
@media only screen and (min-width: 800px) and (max-width: 1025px) {

   #page {
    width: 780px;
  }


}


/*anything below landscape*/
@media only screen  and (min-width: 480px) and (max-width: 800px) {

  #page {
    width: 100%;
    padding: 20px;
  }

   #page-header{
    height: 150px;
    margin-bottom: 20px;
  }

  #page section{
    width: 100%;
  }

  #page aside {
    float: none;
    width: 100%;
  }


  #page.tilbud aside .box.secondary{
    display: none;
  }

  #page h1 {
    font-size: 2em;
  }


  /*Tag list*/
  #page .tag-el .thumb{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #page .tag-el .thumb .logo{
    width: 40%;
  }


  #page .tag-el .teaser{
    width: 100%;
  }



/*FPGRID*/
 #frontpage li {
    width: 50%;
  }
  
 #frontpage  li:nth-of-type(1n+1) {
    clear: none;
  }
  
  #frontpage li:nth-of-type(2n+1) {
    clear: left;
  }


/*Footer*/
footer .col{

  width: 50%;
}


}


/*ipad landscape*/
@media only screen and (max-width: 480px) {

  #page{
    width: 100%;
    padding: 20px;
  }

  #page-header{
    height: 150px;
    margin-bottom: 0px;
  }

  #page section {
    width: 100%;
    padding-right: 0px;
    font-size: .9em;
  }

  #page aside {
    width: 100%;
    padding: 0 20px;
  }

  #page aside .box.secondary{
    width: 100%;
  }

  #page h1 {
    font-size: 1.5em;
  }

  #page .manchet {
    font-size: 1.4em;
  }


  /*Tag list*/
  #page .tag-el .thumb{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #page .tag-el .teaser{
    width: 100%;
  }

  #page .tag-el .thumb .logo{
    width: 40%;
  }


  /*FPGRID*/
 #frontpage li {
    width: 100%;
  }

  #frontpage li) {
    clear: left;
  }


  /*Footer*/
  footer .col{

    width: 100%;
  }


}



/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 1023px) {


  .carousel-grid-cell {
    width: 60%;
  }


  /*promotion*/
  #promotion{ font-size: 1em; }
  #promotion img{
    width: 75%;
    height: auto;
  }
  #promotion .item .media{
    display: none;
  }
  #promotion .item .content{
    width: 100%;
    padding: 20% 5% 5% 5%;
  }


  /*Modal*/
  .modal .item .media{
    display: none;
  }
  .modal .item .content{
    width: 100%;
  }


    #promotion .manchet{
    font-size: .8em;

  }


  /*-----Arkivserier-----*/
  .archive_series ul li a {
      padding-left: 0px;
      padding-top: 30px;
  }


}

/* #Mobile (Ipad)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 1025px) {

  .carousel-grid-cell {
    width: 33%;
  }


  #promotion .item .media{
    display: none;
  }

  #promotion .item .content{
    width: 100%;
    padding: 8% 5% 5% 5%;
  }

   #promotion .manchet{
      font-size: 1em;

    }
}



/*------------------------------Accordion------------------------------*/
.accordion-content {
  transition: 0.2s;
}


.accordion_toggleAll {
  display: inline-block;
  font-weight: bold;
  float: right;
  margin-bottom: 5px;
  cursor: pointer;
}
.accordion_toggleAll span:last-of-type {
  display: none;
}
.accordion_toggleAll.open span:first-of-type {
  display: none;
}
.accordion_toggleAll.open span:last-of-type {
  display: inline;
}



.accordion {
  clear: both;
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  border-bottom: 1px solid grey;
}
.accordion > li {
  position: relative;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid grey;
}
.accordion > li > h5 {
  padding-left: 45px;
  margin: 0;
  font-weight: 600;
  font-size: 1.17em;
}
.accordion > li .state {
  display: block;
  position: absolute;
  width: 27px;
  height: 27px;
  left: 0;
  top: 20px;
  background-image: url('../img/accordionstate.png');
  background-size: 54px;
  background-position: top left;
  background-repeat: no-repeat;
}
.accordion > li input:hover ~ .state {
  background-position: top right !important;
}
.accordion > li .accordion-content {
  padding: 20px 0;
}
.accordion > li > input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0;
  z-index: 1;
  opacity: 0;
}
.accordion > li > input[type=checkbox]:checked {
  height: 100%;
}
.accordion > li > input[type=checkbox]:checked ~ .state {
  background-position: bottom left;
}
.accordion > li > input[type=checkbox]:checked:hover ~ .state {
  background-position: bottom right !important;
}
.accordion > li > input[type=checkbox]:checked ~ .accordion-content {
  margin-top: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}





/*------------------------------Cols------------------------------*/
/*
.col-3 .col{
  display: inline-block;

  width: 30%;

  background-color: #adadad;
}
*/





/*------------------------------Static Grid------------------------------*/
/*
.static-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.grid-cell{
  background-color: #a1a1a1;
  width: 100%;

  color: #1a1a1a;
}

.grid-cell .header-image{

  width: 100%;
  height: 200px;

  background-size: cover;
  background-position: top center;


}


.grid-cell .content{
  width: 100%;
  padding: 20px 20px 20px 20px;

}


.grid-cell h3{
  font-size: 1.4em;
  font-weight: 100;
  margin: 0 0 .5em 0;
}

.grid-cell p{
  font-size: 1em;
  font-weight: 300;
  margin-top: 0;
}






/*
.static-grid{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.grid-cell.full{
  grid-column: 1 / span all;
}


.static-grid .item .media{
  display: none;
}*/




/*------------------------------HOly grail page layout------------------------------*/

/*https://css-tricks.com/snippets/css/css-grid-starter-layouts/*/

/*
.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}
*/
