@charset "UTF-8";

.kildekatalog .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
.kildekatalog .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.kildekatalog .container:after,
.kildekatalog .container:before {
    content: " ";
    display: table;
}
.kildekatalog .container:after {
    clear: both;
}
.kildekatalog .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.kildekatalog .container-fluid:after,
.kildekatalog .container-fluid:before {
    content: " ";
    display: table;
}
.kildekatalog .container-fluid:after {
    clear: both;
}
.kildekatalog .row {
    margin-left: -15px;
    margin-right: -15px;
}
.kildekatalog .row:after,
.kildekatalog .row:before {
    content: " ";
    display: table;
}
.kildekatalog .row:after {
    clear: both;
}
.kildekatalog .col-lg-1,
.kildekatalog .col-lg-2,
.kildekatalog .col-lg-3,
.kildekatalog .col-lg-4,
.kildekatalog .col-lg-5,
.kildekatalog .col-lg-6,
.kildekatalog .col-lg-7,
.kildekatalog .col-lg-8,
.kildekatalog .col-lg-9,
.kildekatalog .col-lg-10,
.kildekatalog .col-lg-11,
.kildekatalog .col-lg-12,
.kildekatalog .col-md-1,
.kildekatalog .col-md-2,
.kildekatalog .col-md-3,
.kildekatalog .col-md-4,
.kildekatalog .col-md-5,
.kildekatalog .col-md-6,
.kildekatalog .col-md-7,
.kildekatalog .col-md-8,
.kildekatalog .col-md-9,
.kildekatalog .col-md-10,
.kildekatalog .col-md-11,
.kildekatalog .col-md-12,
.kildekatalog .col-sm-1,
.kildekatalog .col-sm-2,
.kildekatalog .col-sm-3,
.kildekatalog .col-sm-4,
.kildekatalog .col-sm-5,
.kildekatalog .col-sm-6,
.kildekatalog .col-sm-7,
.kildekatalog .col-sm-8,
.kildekatalog .col-sm-9,
.kildekatalog .col-sm-10,
.kildekatalog .col-sm-11,
.kildekatalog .col-sm-12,
.kildekatalog .col-xs-1,
.kildekatalog .col-xs-2,
.kildekatalog .col-xs-3,
.kildekatalog .col-xs-4,
.kildekatalog .col-xs-5,
.kildekatalog .col-xs-6,
.kildekatalog .col-xs-7,
.kildekatalog .col-xs-8,
.kildekatalog .col-xs-9,
.kildekatalog .col-xs-10,
.kildekatalog .col-xs-11,
.kildekatalog .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.kildekatalog .col-xs-1,
.kildekatalog .col-xs-2,
.kildekatalog .col-xs-3,
.kildekatalog .col-xs-4,
.kildekatalog .col-xs-5,
.kildekatalog .col-xs-6,
.kildekatalog .col-xs-7,
.kildekatalog .col-xs-8,
.kildekatalog .col-xs-9,
.kildekatalog .col-xs-10,
.kildekatalog .col-xs-11,
.kildekatalog .col-xs-12 {
    float: left;
}
.kildekatalog .col-xs-1 {
    width: 8.33333%;
}
.kildekatalog .col-xs-2 {
    width: 16.66667%;
}
.kildekatalog .col-xs-3 {
    width: 25%;
}
.kildekatalog .col-xs-4 {
    width: 33.33333%;
}
.kildekatalog .col-xs-5 {
    width: 41.66667%;
}
.kildekatalog .col-xs-6 {
    width: 50%;
}
.kildekatalog .col-xs-7 {
    width: 58.33333%;
}
.kildekatalog .col-xs-8 {
    width: 66.66667%;
}
.kildekatalog .col-xs-9 {
    width: 75%;
}
.kildekatalog .col-xs-10 {
    width: 83.33333%;
}
.kildekatalog .col-xs-11 {
    width: 91.66667%;
}
.kildekatalog .col-xs-12 {
    width: 100%;
}
.kildekatalog .col-xs-pull-0 {
    right: 0;
}
.kildekatalog .col-xs-pull-1 {
    right: 8.33333%;
}
.kildekatalog .col-xs-pull-2 {
    right: 16.66667%;
}
.kildekatalog .col-xs-pull-3 {
    right: 25%;
}
.kildekatalog .col-xs-pull-4 {
    right: 33.33333%;
}
.kildekatalog .col-xs-pull-5 {
    right: 41.66667%;
}
.kildekatalog .col-xs-pull-6 {
    right: 50%;
}
.kildekatalog .col-xs-pull-7 {
    right: 58.33333%;
}
.kildekatalog .col-xs-pull-8 {
    right: 66.66667%;
}
.kildekatalog .col-xs-pull-9 {
    right: 75%;
}
.kildekatalog .col-xs-pull-10 {
    right: 83.33333%;
}
.kildekatalog .col-xs-pull-11 {
    right: 91.66667%;
}
.kildekatalog .col-xs-pull-12 {
    right: 100%;
}
.kildekatalog .col-xs-push-0 {
    left: 0;
}
.kildekatalog .col-xs-push-1 {
    left: 8.33333%;
}
.kildekatalog .col-xs-push-2 {
    left: 16.66667%;
}
.kildekatalog .col-xs-push-3 {
    left: 25%;
}
.kildekatalog .col-xs-push-4 {
    left: 33.33333%;
}
.kildekatalog .col-xs-push-5 {
    left: 41.66667%;
}
.kildekatalog .col-xs-push-6 {
    left: 50%;
}
.kildekatalog .col-xs-push-7 {
    left: 58.33333%;
}
.kildekatalog .col-xs-push-8 {
    left: 66.66667%;
}
.kildekatalog .col-xs-push-9 {
    left: 75%;
}
.kildekatalog .col-xs-push-10 {
    left: 83.33333%;
}
.kildekatalog .col-xs-push-11 {
    left: 91.66667%;
}
.kildekatalog .col-xs-push-12 {
    left: 100%;
}
.kildekatalog .col-xs-offset-0 {
    margin-left: 0;
}
.kildekatalog .col-xs-offset-1 {
    margin-left: 8.33333%;
}
.kildekatalog .col-xs-offset-2 {
    margin-left: 16.66667%;
}
.kildekatalog .col-xs-offset-3 {
    margin-left: 25%;
}
.kildekatalog .col-xs-offset-4 {
    margin-left: 33.33333%;
}
.kildekatalog .col-xs-offset-5 {
    margin-left: 41.66667%;
}
.kildekatalog .col-xs-offset-6 {
    margin-left: 50%;
}
.kildekatalog .col-xs-offset-7 {
    margin-left: 58.33333%;
}
.kildekatalog .col-xs-offset-8 {
    margin-left: 66.66667%;
}
.kildekatalog .col-xs-offset-9 {
    margin-left: 75%;
}
.kildekatalog .col-xs-offset-10 {
    margin-left: 83.33333%;
}
.kildekatalog .col-xs-offset-11 {
    margin-left: 91.66667%;
}
.kildekatalog .col-xs-offset-12 {
    margin-left: 100%;
}
 
.kildekatalog fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.kildekatalog legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.kildekatalog label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.kildekatalog input[type="search"] {
    box-sizing: border-box;
}
.kildekatalog input[type="checkbox"],
.kildekatalog input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.kildekatalog input[type="file"] {
    display: block;
}
.kildekatalog input[type="range"] {
    display: block;
    width: 100%;
}
.kildekatalog select[multiple],
.kildekatalog select[size] {
    height: auto;
}
.kildekatalog input[type="checkbox"]:focus,
.kildekatalog input[type="file"]:focus,
.kildekatalog input[type="radio"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.kildekatalog output {
    padding-top: 7px;
}
.kildekatalog .form-control,
.kildekatalog output {
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
}
.kildekatalog .form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.kildekatalog .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.kildekatalog .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.kildekatalog .form-control:-ms-input-placeholder {
    color: #999;
}
.kildekatalog .form-control::-webkit-input-placeholder {
    color: #999;
}
.kildekatalog .form-control[disabled],
.kildekatalog .form-control[readonly],
.kildekatalog fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.kildekatalog textarea.form-control {
    height: auto;
}
.kildekatalog input[type="search"] {
    -webkit-appearance: none;
}
.kildekatalog input[type="date"] {
    line-height: 34px;
}
.kildekatalog .form-group {
    margin-bottom: 15px;
}
.kildekatalog .checkbox,
.kildekatalog .radio {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.kildekatalog .checkbox label,
.kildekatalog .radio label {
    display: inline;
    font-weight: 400;
    cursor: pointer;
}
.kildekatalog .checkbox-inline input[type="checkbox"],
.kildekatalog .checkbox input[type="checkbox"],
.kildekatalog .radio-inline input[type="radio"],
.kildekatalog .radio input[type="radio"] {
    float: left;
    margin-left: -20px;
}
.kildekatalog .checkbox + .checkbox,
.kildekatalog .radio + .radio {
    margin-top: -5px;
}
.kildekatalog .checkbox-inline,
.kildekatalog .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.kildekatalog .checkbox-inline + .checkbox-inline,
.kildekatalog .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.kildekatalog .checkbox-inline[disabled],
.kildekatalog .checkbox[disabled],
.kildekatalog .radio-inline[disabled],
.kildekatalog .radio[disabled],
.kildekatalog fieldset[disabled] .checkbox,
.kildekatalog fieldset[disabled] .checkbox-inline,
.kildekatalog fieldset[disabled] .radio,
.kildekatalog fieldset[disabled] .radio-inline,
.kildekatalog fieldset[disabled] input[type="checkbox"],
.kildekatalog fieldset[disabled] input[type="radio"],
.kildekatalog input[type="checkbox"][disabled],
.kildekatalog input[type="radio"][disabled] {
    cursor: not-allowed;
}
.kildekatalog .input-group-sm > .form-control,
.kildekatalog .input-group-sm > .input-group-addon,
.kildekatalog .input-group-sm > .input-group-btn > .btn,
.kildekatalog .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.kildekatalog .input-group-sm > .input-group-btn > select.btn,
.kildekatalog .input-group-sm > select.form-control,
.kildekatalog .input-group-sm > select.input-group-addon,
.kildekatalog select.input-sm {
    height: 30px;
    line-height: 30px;
}
.kildekatalog .input-group-sm > .input-group-btn > select[multiple].btn,
.kildekatalog .input-group-sm > .input-group-btn > textarea.btn,
.kildekatalog .input-group-sm > select[multiple].form-control,
.kildekatalog .input-group-sm > select[multiple].input-group-addon,
.kildekatalog .input-group-sm > textarea.form-control,
.kildekatalog .input-group-sm > textarea.input-group-addon,
.kildekatalog select[multiple].input-sm,
.kildekatalog textarea.input-sm {
    height: auto;
}
.kildekatalog .input-group-lg > .form-control,
.kildekatalog .input-group-lg > .input-group-addon,
.kildekatalog .input-group-lg > .input-group-btn > .btn,
.kildekatalog .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.kildekatalog .input-group-lg > .input-group-btn > select.btn,
.kildekatalog .input-group-lg > select.form-control,
.kildekatalog .input-group-lg > select.input-group-addon,
.kildekatalog select.input-lg {
    height: 46px;
    line-height: 46px;
}
.kildekatalog .input-group-lg > .input-group-btn > select[multiple].btn,
.kildekatalog .input-group-lg > .input-group-btn > textarea.btn,
.kildekatalog .input-group-lg > select[multiple].form-control,
.kildekatalog .input-group-lg > select[multiple].input-group-addon,
.kildekatalog .input-group-lg > textarea.form-control,
.kildekatalog .input-group-lg > textarea.input-group-addon,
.kildekatalog select[multiple].input-lg,
.kildekatalog textarea.input-lg {
    height: auto;
}
.kildekatalog .has-feedback {
    position: relative;
}
.kildekatalog .has-feedback .form-control {
    padding-right: 42.5px;
}
.kildekatalog .has-feedback .form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.kildekatalog .has-success .checkbox,
.kildekatalog .has-success .checkbox-inline,
.kildekatalog .has-success .control-label,
.kildekatalog .has-success .help-block,
.kildekatalog .has-success .radio,
.kildekatalog .has-success .radio-inline {
    color: #3c763d;
}
.kildekatalog .has-success .form-control {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.kildekatalog .has-success .form-control:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.kildekatalog .has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.kildekatalog .has-success .form-control-feedback {
    color: #3c763d;
}
.kildekatalog .has-warning .checkbox,
.kildekatalog .has-warning .checkbox-inline,
.kildekatalog .has-warning .control-label,
.kildekatalog .has-warning .help-block,
.kildekatalog .has-warning .radio,
.kildekatalog .has-warning .radio-inline {
    color: #8a6d3b;
}
.kildekatalog .has-warning .form-control {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.kildekatalog .has-warning .form-control:focus {
    border-color: #66512c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.kildekatalog .has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
.kildekatalog .has-warning .form-control-feedback {
    color: #8a6d3b;
}
.kildekatalog .has-error .checkbox,
.kildekatalog .has-error .checkbox-inline,
.kildekatalog .has-error .control-label,
.kildekatalog .has-error .help-block,
.kildekatalog .has-error .radio,
.kildekatalog .has-error .radio-inline {
    color: #a94442;
}
.kildekatalog .has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.kildekatalog .has-error .form-control:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.kildekatalog .has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.kildekatalog .has-error .form-control-feedback {
    color: #a94442;
}
.kildekatalog .form-control-static {
    margin-bottom: 0;
}
.kildekatalog .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.kildekatalog .form-horizontal .checkbox,
.kildekatalog .form-horizontal .checkbox-inline,
.kildekatalog .form-horizontal .control-label,
.kildekatalog .form-horizontal .radio,
.kildekatalog .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.kildekatalog .form-horizontal .checkbox,
.kildekatalog .form-horizontal .radio {
    min-height: 27px;
}
.kildekatalog .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.kildekatalog .form-horizontal .form-group:after,
.kildekatalog .form-horizontal .form-group:before {
    content: " ";
    display: table;
}
.kildekatalog .form-horizontal .form-group:after {
    clear: both;
}
.kildekatalog .form-horizontal .form-control-static {
    padding-top: 7px;
}
.kildekatalog .form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 15px;
}


.kildekatalog .fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.kildekatalog .fade.in {
    opacity: 1;
}
.kildekatalog .collapse {
    display: none;
}
.kildekatalog .collapse.in {
    display: block;
}
.kildekatalog .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}



.kildekatalog .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.kildekatalog .dropdown {
    position: relative;
}
.kildekatalog .dropdown-toggle:focus {
    outline: 0;
}
.kildekatalog .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 6;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.kildekatalog .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.kildekatalog .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.kildekatalog .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.kildekatalog .dropdown-menu > li > a:focus,
.kildekatalog .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.kildekatalog .dropdown-menu > .active > a,
.kildekatalog .dropdown-menu > .active > a:focus,
.kildekatalog .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}
.kildekatalog .dropdown-menu > .disabled > a,
.kildekatalog .dropdown-menu > .disabled > a:focus,
.kildekatalog .dropdown-menu > .disabled > a:hover {
    color: #999;
}
.kildekatalog .dropdown-menu > .disabled > a:focus,
.kildekatalog .dropdown-menu > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.kildekatalog .open > .dropdown-menu {
    display: block;
}
.kildekatalog .open > a {
    outline: 0;
}
.kildekatalog .dropdown-menu-right {
    left: auto;
    right: 0;
}
.kildekatalog .dropdown-menu-left {
    left: 0;
    right: auto;
}
.kildekatalog .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #999;
}
.kildekatalog .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
}
.kildekatalog .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.kildekatalog .dropup .caret,
.kildekatalog .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}
.kildekatalog .dropup .dropdown-menu,
.kildekatalog .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}
.kildekatalog .btn-group,
.kildekatalog .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.kildekatalog .btn-group-vertical > .btn,
.kildekatalog .btn-group > .btn {
    position: relative;
    float: left;
}
.kildekatalog .btn-group-vertical > .btn.active,
.kildekatalog .btn-group-vertical > .btn:active,
.kildekatalog .btn-group-vertical > .btn:focus,
.kildekatalog .btn-group-vertical > .btn:hover,
.kildekatalog .btn-group > .btn.active,
.kildekatalog .btn-group > .btn:active,
.kildekatalog .btn-group > .btn:focus,
.kildekatalog .btn-group > .btn:hover {
    z-index: 1;
}
.kildekatalog .btn-group-vertical > .btn:focus,
.kildekatalog .btn-group > .btn:focus {
    outline: none;
}
.kildekatalog .btn-group .btn + .btn,
.kildekatalog .btn-group .btn + .btn-group,
.kildekatalog .btn-group .btn-group + .btn,
.kildekatalog .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.kildekatalog .btn-toolbar {
    margin-left: -5px;
}
.kildekatalog .btn-toolbar:after,
.kildekatalog .btn-toolbar:before {
    content: " ";
    display: table;
}
.kildekatalog .btn-toolbar:after {
    clear: both;
}
.kildekatalog .btn-toolbar .btn-group,
.kildekatalog .btn-toolbar .input-group {
    float: left;
}
.kildekatalog .btn-toolbar > .btn,
.kildekatalog .btn-toolbar > .btn-group,
.kildekatalog .btn-toolbar > .input-group {
    margin-left: 5px;
}
.kildekatalog .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.kildekatalog .btn-group > .btn:first-child {
    margin-left: 0;
}
.kildekatalog .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.kildekatalog .btn-group > .btn:last-child:not(:first-child),
.kildekatalog .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.kildekatalog .btn-group > .btn-group {
    float: left;
}
.kildekatalog .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.kildekatalog .btn-group > .btn-group:first-child > .btn:last-child,
.kildekatalog .btn-group > .btn-group:first-child > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.kildekatalog .btn-group > .btn-group:last-child > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.kildekatalog .btn-group .dropdown-toggle:active,
.kildekatalog .btn-group.open .dropdown-toggle {
    outline: 0;
}
.kildekatalog .btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.kildekatalog .btn-group-lg.btn-group > .btn + .dropdown-toggle,
.kildekatalog .btn-group > .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.kildekatalog .btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.kildekatalog .btn-group.open .dropdown-toggle.btn-link {
    box-shadow: none;
}
.kildekatalog .btn .caret {
    margin-left: 0;
}
.kildekatalog .btn-group-lg > .btn .caret,
.kildekatalog .btn-lg .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
}
.kildekatalog .dropup .btn-group-lg > .btn .caret,
.kildekatalog .dropup .btn-lg .caret {
    border-width: 0 5px 5px;
}
.kildekatalog .btn-group-vertical > .btn,
.kildekatalog .btn-group-vertical > .btn-group,
.kildekatalog .btn-group-vertical > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}
.kildekatalog .btn-group-vertical > .btn-group:after,
.kildekatalog .btn-group-vertical > .btn-group:before {
    content: " ";
    display: table;
}
.kildekatalog .btn-group-vertical > .btn-group:after {
    clear: both;
}
.kildekatalog .btn-group-vertical > .btn-group > .btn {
    float: none;
}
.kildekatalog .btn-group-vertical > .btn + .btn,
.kildekatalog .btn-group-vertical > .btn + .btn-group,
.kildekatalog .btn-group-vertical > .btn-group + .btn,
.kildekatalog .btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
}
.kildekatalog .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.kildekatalog .btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.kildekatalog .btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.kildekatalog .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.kildekatalog .btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.kildekatalog .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.kildekatalog .btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.kildekatalog .btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.kildekatalog .btn-group-justified > .btn,
.kildekatalog .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.kildekatalog .btn-group-justified > .btn-group .btn {
    width: 100%;
}
.kildekatalog [data-toggle="buttons"] > .btn > input[type="checkbox"],
.kildekatalog [data-toggle="buttons"] > .btn > input[type="radio"] {
    display: none;
}
.kildekatalog .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.kildekatalog .input-group[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
.kildekatalog .input-group .form-control {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.kildekatalog .input-group-addon,
.kildekatalog .input-group-btn,
.kildekatalog .input-group .form-control {
    display: table-cell;
}
.kildekatalog .input-group-addon:not(:first-child):not(:last-child),
.kildekatalog .input-group-btn:not(:first-child):not(:last-child),
.kildekatalog .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.kildekatalog .input-group-addon,
.kildekatalog .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.kildekatalog .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.kildekatalog .input-group-addon.input-sm,
.kildekatalog .input-group-sm > .input-group-addon,
.kildekatalog .input-group-sm > .input-group-btn > .input-group-addon.btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}
.kildekatalog .input-group-addon.input-lg,
.kildekatalog .input-group-lg > .input-group-addon,
.kildekatalog .input-group-lg > .input-group-btn > .input-group-addon.btn {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}
.kildekatalog .input-group-addon input[type="checkbox"],
.kildekatalog .input-group-addon input[type="radio"] {
    margin-top: 0;
}
.kildekatalog .input-group-addon:first-child,
.kildekatalog .input-group-btn:first-child > .btn,
.kildekatalog .input-group-btn:first-child > .btn-group > .btn,
.kildekatalog .input-group-btn:first-child > .dropdown-toggle,
.kildekatalog .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.kildekatalog .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.kildekatalog .input-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.kildekatalog .input-group-addon:first-child {
    border-right: 0;
}
.kildekatalog .input-group-addon:last-child,
.kildekatalog .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.kildekatalog .input-group-btn:first-child > .btn:not(:first-child),
.kildekatalog .input-group-btn:last-child > .btn,
.kildekatalog .input-group-btn:last-child > .btn-group > .btn,
.kildekatalog .input-group-btn:last-child > .dropdown-toggle,
.kildekatalog .input-group .form-control:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.kildekatalog .input-group-addon:last-child {
    border-left: 0;
}
.kildekatalog .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.kildekatalog .input-group-btn > .btn {
    position: relative;
}
.kildekatalog .input-group-btn > .btn + .btn {
    margin-left: -1px;
}
.kildekatalog .input-group-btn > .btn:active,
.kildekatalog .input-group-btn > .btn:focus,
.kildekatalog .input-group-btn > .btn:hover {
    z-index: 1;
}
.kildekatalog .input-group-btn:first-child > .btn,
.kildekatalog .input-group-btn:first-child > .btn-group {
    margin-right: -1px;
}
.kildekatalog .input-group-btn:last-child > .btn,
.kildekatalog .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}



.kildekatalog .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.kildekatalog .label[href]:focus,
.kildekatalog .label[href]:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.kildekatalog .label:empty {
    display: none;
}
.kildekatalog .btn .label {
    position: relative;
    top: -1px;
}
.kildekatalog .label-default {
    background-color: #999;
}
.kildekatalog .label-default[href]:focus,
.kildekatalog .label-default[href]:hover {
    background-color: gray;
}
.kildekatalog .label-primary {
    background-color: #428bca;
}
.kildekatalog .label-primary[href]:focus,
.kildekatalog .label-primary[href]:hover {
    background-color: #3071a9;
}
.kildekatalog .label-success {
    background-color: #5cb85c;
}
.kildekatalog .label-success[href]:focus,
.kildekatalog .label-success[href]:hover {
    background-color: #449d44;
}
.kildekatalog .label-info {
    background-color: #5bc0de;
}
.kildekatalog .label-info[href]:focus,
.kildekatalog .label-info[href]:hover {
    background-color: #31b0d5;
}
.kildekatalog .label-warning {
    background-color: #f0ad4e;
}
.kildekatalog .label-warning[href]:focus,
.kildekatalog .label-warning[href]:hover {
    background-color: #ec971f;
}
.kildekatalog .label-danger {
    background-color: #d9534f;
}
.kildekatalog .label-danger[href]:focus,
.kildekatalog .label-danger[href]:hover {
    background-color: #c9302c;
}
.kildekatalog .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}
.kildekatalog .badge:empty {
    display: none;
}
.kildekatalog .btn .badge {
    position: relative;
    top: -1px;
}
.kildekatalog .btn-group-xs > .btn .badge,
.kildekatalog .btn-xs .badge {
    top: 0;
    padding: 1px 5px;
}
.kildekatalog a.badge:focus,
.kildekatalog a.badge:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.kildekatalog .nav-pills > .active > a > .badge,
.kildekatalog a.list-group-item.active > .badge {
    color: #428bca;
    background-color: #fff;
}
.kildekatalog .nav-pills > li > a > .badge {
    margin-left: 3px;
}
.kildekatalog .jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.kildekatalog .jumbotron .h1,
.kildekatalog .jumbotron h1 {
    color: inherit;
}
.kildekatalog .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.kildekatalog .container .jumbotron {
    border-radius: 6px;
}
.kildekatalog .jumbotron .container {
    max-width: 100%;
}
.kildekatalog .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.kildekatalog .thumbnail > img,
.kildekatalog .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.kildekatalog .thumbnail .caption {
    padding: 9px;
    color: #333;
}
.kildekatalog a.thumbnail.active,
.kildekatalog a.thumbnail:focus,
.kildekatalog a.thumbnail:hover {
    border-color: #428bca;
}
.kildekatalog .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.kildekatalog .alert h4 {
    margin-top: 0;
    color: inherit;
}
.kildekatalog .alert .alert-link {
    font-weight: 700;
}
.kildekatalog .alert > p,
.kildekatalog .alert > ul {
    margin-bottom: 0;
}
.kildekatalog .alert > p + p {
    margin-top: 5px;
}
.kildekatalog .alert-dismissable {
    padding-right: 35px;
}
.kildekatalog .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.kildekatalog .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.kildekatalog .alert-success hr {
    border-top-color: #c9e2b3;
}
.kildekatalog .alert-success .alert-link {
    color: #2b542c;
}
.kildekatalog .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.kildekatalog .alert-info hr {
    border-top-color: #a6e1ec;
}
.kildekatalog .alert-info .alert-link {
    color: #245269;
}
.kildekatalog .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.kildekatalog .alert-warning hr {
    border-top-color: #f7e1b5;
}
.kildekatalog .alert-warning .alert-link {
    color: #66512c;
}
.kildekatalog .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.kildekatalog .alert-danger hr {
    border-top-color: #e4b9c0;
}
.kildekatalog .alert-danger .alert-link {
    color: #843534;
}
.kildekatalog .progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.kildekatalog .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 0.6s ease;
}
.kildekatalog .progress-striped .progress-bar {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
    background-size: 40px 40px;
}
.kildekatalog .progress.active .progress-bar {
    animation: a 2s linear infinite;
}
.kildekatalog .progress-bar-success {
    background-color: #5cb85c;
}
.kildekatalog .progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
}
.kildekatalog .progress-bar-info {
    background-color: #5bc0de;
}
.kildekatalog .progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
}
.kildekatalog .progress-bar-warning {
    background-color: #f0ad4e;
}
.kildekatalog .progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
}
.kildekatalog .progress-bar-danger {
    background-color: #d9534f;
}
.kildekatalog .progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
}
.kildekatalog .media,
.kildekatalog .media-body {
    overflow: hidden;
    zoom: 1;
}
.kildekatalog .media,
.kildekatalog .media .media {
    margin-top: 15px;
}
.kildekatalog .media:first-child {
    margin-top: 0;
}
.kildekatalog .media-object {
    display: block;
}
.kildekatalog .media-heading {
    margin: 0 0 5px;
}
.kildekatalog .media > .pull-left {
    margin-right: 10px;
}
.kildekatalog .media > .pull-right {
    margin-left: 10px;
}
.kildekatalog .media-list {
    padding-left: 0;
    list-style: none;
}
.kildekatalog .list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.kildekatalog .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.kildekatalog .list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.kildekatalog .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.kildekatalog .list-group-item > .badge {
    float: right;
}
.kildekatalog .list-group-item > .badge + .badge {
    margin-right: 5px;
}
.kildekatalog a.list-group-item {
    color: #555;
}
.kildekatalog a.list-group-item .list-group-item-heading {
    color: #333;
}
.kildekatalog a.list-group-item:focus,
.kildekatalog a.list-group-item:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
.kildekatalog a.list-group-item.active,
.kildekatalog a.list-group-item.active:focus,
.kildekatalog a.list-group-item.active:hover {
    z-index: 1;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
.kildekatalog a.list-group-item.active .list-group-item-heading,
.kildekatalog a.list-group-item.active:focus .list-group-item-heading,
.kildekatalog a.list-group-item.active:hover .list-group-item-heading {
    color: inherit;
}
.kildekatalog a.list-group-item.active .list-group-item-text,
.kildekatalog a.list-group-item.active:focus .list-group-item-text,
.kildekatalog a.list-group-item.active:hover .list-group-item-text {
    color: #e1edf7;
}
.kildekatalog .list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}
.kildekatalog a.list-group-item-success {
    color: #3c763d;
}
.kildekatalog a.list-group-item-success .list-group-item-heading {
    color: inherit;
}
.kildekatalog a.list-group-item-success:focus,
.kildekatalog a.list-group-item-success:hover {
    color: #3c763d;
    background-color: #d0e9c6;
}
.kildekatalog a.list-group-item-success.active,
.kildekatalog a.list-group-item-success.active:focus,
.kildekatalog a.list-group-item-success.active:hover {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}
.kildekatalog .list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}
.kildekatalog a.list-group-item-info {
    color: #31708f;
}
.kildekatalog a.list-group-item-info .list-group-item-heading {
    color: inherit;
}
.kildekatalog a.list-group-item-info:focus,
.kildekatalog a.list-group-item-info:hover {
    color: #31708f;
    background-color: #c4e3f3;
}
.kildekatalog a.list-group-item-info.active,
.kildekatalog a.list-group-item-info.active:focus,
.kildekatalog a.list-group-item-info.active:hover {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}
.kildekatalog .list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}
.kildekatalog a.list-group-item-warning {
    color: #8a6d3b;
}
.kildekatalog a.list-group-item-warning .list-group-item-heading {
    color: inherit;
}
.kildekatalog a.list-group-item-warning:focus,
.kildekatalog a.list-group-item-warning:hover {
    color: #8a6d3b;
    background-color: #faf2cc;
}
.kildekatalog a.list-group-item-warning.active,
.kildekatalog a.list-group-item-warning.active:focus,
.kildekatalog a.list-group-item-warning.active:hover {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}
.kildekatalog .list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}
.kildekatalog a.list-group-item-danger {
    color: #a94442;
}
.kildekatalog a.list-group-item-danger .list-group-item-heading {
    color: inherit;
}
.kildekatalog a.list-group-item-danger:focus,
.kildekatalog a.list-group-item-danger:hover {
    color: #a94442;
    background-color: #ebcccc;
}
.kildekatalog a.list-group-item-danger.active,
.kildekatalog a.list-group-item-danger.active:focus,
.kildekatalog a.list-group-item-danger.active:hover {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}
.kildekatalog .list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.kildekatalog .list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}
.kildekatalog .panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.kildekatalog .panel-body {
    padding: 10px;
}
.kildekatalog .panel-body:after,
.kildekatalog .panel-body:before {
    content: " ";
    display: table;
}
.kildekatalog .panel-body:after {
    clear: both;
}
.kildekatalog .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}
.kildekatalog .panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.kildekatalog .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.kildekatalog .panel-title > a {
    color: inherit;
}
.kildekatalog .panel-footer {
    padding: 10px 15px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}
.kildekatalog .panel > .list-group {
    margin-bottom: 0;
}
.kildekatalog .panel > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.kildekatalog .panel > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}
.kildekatalog .panel > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}
.kildekatalog .panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}



.kildekatalog .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.kildekatalog .close:focus,
.kildekatalog .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.kildekatalog button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}



.kildekatalog .clearfix:after,
.kildekatalog .clearfix:before {
    content: " ";
    display: table;
}
.kildekatalog .clearfix:after {
    clear: both;
}
.kildekatalog .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.kildekatalog .pull-right {
    float: right !important;
}
.kildekatalog .pull-left {
    float: left !important;
}
.kildekatalog .hide {
    display: none !important;
}
.kildekatalog .show {
    display: block !important;
}
.kildekatalog .invisible {
    visibility: hidden;
}
.kildekatalog .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.kildekatalog .hidden {
    display: none !important;
    visibility: hidden !important;
}
.kildekatalog .affix {
    position: fixed;
}
@-ms-viewport {
    .kildekatalog {
        width: device-width;
    }
}
.kildekatalog .visible-lg,
.kildekatalog .visible-md,
.kildekatalog .visible-print,
.kildekatalog .visible-sm,
.kildekatalog .visible-xs {
    display: none !important;
}
@media (min-width: 768px) {
    .kildekatalog .lead {
        font-size: 21px;
    }
    .kildekatalog .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .kildekatalog .dl-horizontal dd {
        margin-left: 180px;
    }
    .kildekatalog .dl-horizontal dd:after,
    .kildekatalog .dl-horizontal dd:before {
        content: " ";
        display: table;
    }
    .kildekatalog .dl-horizontal dd:after {
        clear: both;
    }
    .kildekatalog .container {
        width: 750px;
    }
    .kildekatalog .col-sm-1,
    .kildekatalog .col-sm-2,
    .kildekatalog .col-sm-3,
    .kildekatalog .col-sm-4,
    .kildekatalog .col-sm-5,
    .kildekatalog .col-sm-6,
    .kildekatalog .col-sm-7,
    .kildekatalog .col-sm-8,
    .kildekatalog .col-sm-9,
    .kildekatalog .col-sm-10,
    .kildekatalog .col-sm-11,
    .kildekatalog .col-sm-12 {
        float: left;
    }
    .kildekatalog .col-sm-1 {
        width: 8.33333%;
    }
    .kildekatalog .col-sm-2 {
        width: 16.66667%;
    }
    .kildekatalog .col-sm-3 {
        width: 25%;
    }
    .kildekatalog .col-sm-4 {
        width: 33.33333%;
    }
    .kildekatalog .col-sm-5 {
        width: 41.66667%;
    }
    .kildekatalog .col-sm-6 {
        width: 50%;
    }
    .kildekatalog .col-sm-7 {
        width: 58.33333%;
    }
    .kildekatalog .col-sm-8 {
        width: 66.66667%;
    }
    .kildekatalog .col-sm-9 {
        width: 75%;
    }
    .kildekatalog .col-sm-10 {
        width: 83.33333%;
    }
    .kildekatalog .col-sm-11 {
        width: 91.66667%;
    }
    .kildekatalog .col-sm-12 {
        width: 100%;
    }
    .kildekatalog .col-sm-pull-0 {
        right: 0;
    }
    .kildekatalog .col-sm-pull-1 {
        right: 8.33333%;
    }
    .kildekatalog .col-sm-pull-2 {
        right: 16.66667%;
    }
    .kildekatalog .col-sm-pull-3 {
        right: 25%;
    }
    .kildekatalog .col-sm-pull-4 {
        right: 33.33333%;
    }
    .kildekatalog .col-sm-pull-5 {
        right: 41.66667%;
    }
    .kildekatalog .col-sm-pull-6 {
        right: 50%;
    }
    .kildekatalog .col-sm-pull-7 {
        right: 58.33333%;
    }
    .kildekatalog .col-sm-pull-8 {
        right: 66.66667%;
    }
    .kildekatalog .col-sm-pull-9 {
        right: 75%;
    }
    .kildekatalog .col-sm-pull-10 {
        right: 83.33333%;
    }
    .kildekatalog .col-sm-pull-11 {
        right: 91.66667%;
    }
    .kildekatalog .col-sm-pull-12 {
        right: 100%;
    }
    .kildekatalog .col-sm-push-0 {
        left: 0;
    }
    .kildekatalog .col-sm-push-1 {
        left: 8.33333%;
    }
    .kildekatalog .col-sm-push-2 {
        left: 16.66667%;
    }
    .kildekatalog .col-sm-push-3 {
        left: 25%;
    }
    .kildekatalog .col-sm-push-4 {
        left: 33.33333%;
    }
    .kildekatalog .col-sm-push-5 {
        left: 41.66667%;
    }
    .kildekatalog .col-sm-push-6 {
        left: 50%;
    }
    .kildekatalog .col-sm-push-7 {
        left: 58.33333%;
    }
    .kildekatalog .col-sm-push-8 {
        left: 66.66667%;
    }
    .kildekatalog .col-sm-push-9 {
        left: 75%;
    }
    .kildekatalog .col-sm-push-10 {
        left: 83.33333%;
    }
    .kildekatalog .col-sm-push-11 {
        left: 91.66667%;
    }
    .kildekatalog .col-sm-push-12 {
        left: 100%;
    }
    .kildekatalog .col-sm-offset-0 {
        margin-left: 0;
    }
    .kildekatalog .col-sm-offset-1 {
        margin-left: 8.33333%;
    }
    .kildekatalog .col-sm-offset-2 {
        margin-left: 16.66667%;
    }
    .kildekatalog .col-sm-offset-3 {
        margin-left: 25%;
    }
    .kildekatalog .col-sm-offset-4 {
        margin-left: 33.33333%;
    }
    .kildekatalog .col-sm-offset-5 {
        margin-left: 41.66667%;
    }
    .kildekatalog .col-sm-offset-6 {
        margin-left: 50%;
    }
    .kildekatalog .col-sm-offset-7 {
        margin-left: 58.33333%;
    }
    .kildekatalog .col-sm-offset-8 {
        margin-left: 66.66667%;
    }
    .kildekatalog .col-sm-offset-9 {
        margin-left: 75%;
    }
    .kildekatalog .col-sm-offset-10 {
        margin-left: 83.33333%;
    }
    .kildekatalog .col-sm-offset-11 {
        margin-left: 91.66667%;
    }
    .kildekatalog .col-sm-offset-12 {
        margin-left: 100%;
    }
    .kildekatalog .form-inline .form-group,
    .kildekatalog .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .kildekatalog .form-inline .form-control,
    .kildekatalog .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .kildekatalog .form-inline .input-group > .form-control,
    .kildekatalog .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .kildekatalog .form-inline .control-label,
    .kildekatalog .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .kildekatalog .form-inline .checkbox,
    .kildekatalog .form-inline .radio,
    .kildekatalog .navbar-form .checkbox,
    .kildekatalog .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        vertical-align: middle;
    }
    .kildekatalog .form-inline .checkbox input[type="checkbox"],
    .kildekatalog .form-inline .radio input[type="radio"],
    .kildekatalog .navbar-form .checkbox input[type="checkbox"],
    .kildekatalog .navbar-form .radio input[type="radio"] {
        float: none;
        margin-left: 0;
    }
    .kildekatalog .form-inline .has-feedback .form-control-feedback,
    .kildekatalog .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
    .kildekatalog .form-horizontal .control-label {
        text-align: right;
    }
    .kildekatalog .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .kildekatalog .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
    .kildekatalog .nav-justified > li,
    .kildekatalog .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .kildekatalog .nav-justified > li > a,
    .kildekatalog .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
    .kildekatalog .nav-tabs-justified > li > a,
    .kildekatalog .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .kildekatalog .nav-tabs-justified > .active > a,
    .kildekatalog .nav-tabs-justified > .active > a:focus,
    .kildekatalog .nav-tabs-justified > .active > a:hover,
    .kildekatalog .nav-tabs.nav-justified > .active > a,
    .kildekatalog .nav-tabs.nav-justified > .active > a:focus,
    .kildekatalog .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #fff;
    }
    .kildekatalog .navbar {
        border-radius: 4px;
    }
    .kildekatalog .navbar-header {
        float: left;
    }
    .kildekatalog .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .kildekatalog .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .kildekatalog .navbar-collapse.in {
        overflow-y: visible;
    }
    .kildekatalog .navbar-fixed-bottom .navbar-collapse,
    .kildekatalog .navbar-fixed-top .navbar-collapse,
    .kildekatalog .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .kildekatalog .container-fluid > .navbar-collapse,
    .kildekatalog .container-fluid > .navbar-header,
    .kildekatalog .container > .navbar-collapse,
    .kildekatalog .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    .kildekatalog .navbar-fixed-bottom,
    .kildekatalog .navbar-fixed-top,
    .kildekatalog .navbar-static-top {
        border-radius: 0;
    }
    .kildekatalog .navbar > .container-fluid .navbar-brand,
    .kildekatalog .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
    .kildekatalog .navbar-toggle {
        display: none;
    }
    .kildekatalog .navbar-nav {
        float: left;
        margin: 0;
    }
    .kildekatalog .navbar-nav > li {
        float: left;
    }
    .kildekatalog .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .kildekatalog .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .kildekatalog .navbar-left {
        float: left !important;
    }
    .kildekatalog .navbar-right {
        float: right !important;
    }
    .kildekatalog .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
    }
    .kildekatalog .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }
    .kildekatalog .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    .kildekatalog .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
    .kildekatalog .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .kildekatalog .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .kildekatalog .modal-sm {
        width: 300px;
    }
}
@media screen and (min-width: 768px) {
    .kildekatalog .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .kildekatalog .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }
    .kildekatalog .jumbotron .h1,
    .kildekatalog .jumbotron h1 {
        font-size: 63px;
    }
    .kildekatalog .carousel-control .glyphicon-chevron-left,
    .kildekatalog .carousel-control .glyphicon-chevron-right,
    .kildekatalog .carousel-control .icon-next,
    .kildekatalog .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }
    .kildekatalog .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }
    .kildekatalog .carousel-indicators {
        bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .kildekatalog .visible-sm {
        display: block !important;
    }
    .kildekatalog table.visible-sm {
        display: table;
    }
    .kildekatalog tr.visible-sm {
        display: table-row !important;
    }
    .kildekatalog td.visible-sm,
    .kildekatalog th.visible-sm {
        display: table-cell !important;
    }
    .kildekatalog .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .kildekatalog .container {
        width: 970px;
    }
    .kildekatalog .col-md-1,
    .kildekatalog .col-md-2,
    .kildekatalog .col-md-3,
    .kildekatalog .col-md-4,
    .kildekatalog .col-md-5,
    .kildekatalog .col-md-6,
    .kildekatalog .col-md-7,
    .kildekatalog .col-md-8,
    .kildekatalog .col-md-9,
    .kildekatalog .col-md-10,
    .kildekatalog .col-md-11,
    .kildekatalog .col-md-12 {
        float: left;
    }
    .kildekatalog .col-md-1 {
        width: 8.33333%;
    }
    .kildekatalog .col-md-2 {
        width: 16.66667%;
    }
    .kildekatalog .col-md-3 {
        width: 25%;
    }
    .kildekatalog .col-md-4 {
        width: 33.33333%;
    }
    .kildekatalog .col-md-5 {
        width: 41.66667%;
    }
    .kildekatalog .col-md-6 {
        width: 50%;
    }
    .kildekatalog .col-md-7 {
        width: 58.33333%;
    }
    .kildekatalog .col-md-8 {
        width: 66.66667%;
    }
    .kildekatalog .col-md-9 {
        width: 75%;
    }
    .kildekatalog .col-md-10 {
        width: 83.33333%;
    }
    .kildekatalog .col-md-11 {
        width: 91.66667%;
    }
    .kildekatalog .col-md-12 {
        width: 100%;
    }
    .kildekatalog .col-md-pull-0 {
        right: 0;
    }
    .kildekatalog .col-md-pull-1 {
        right: 8.33333%;
    }
    .kildekatalog .col-md-pull-2 {
        right: 16.66667%;
    }
    .kildekatalog .col-md-pull-3 {
        right: 25%;
    }
    .kildekatalog .col-md-pull-4 {
        right: 33.33333%;
    }
    .kildekatalog .col-md-pull-5 {
        right: 41.66667%;
    }
    .kildekatalog .col-md-pull-6 {
        right: 50%;
    }
    .kildekatalog .col-md-pull-7 {
        right: 58.33333%;
    }
    .kildekatalog .col-md-pull-8 {
        right: 66.66667%;
    }
    .kildekatalog .col-md-pull-9 {
        right: 75%;
    }
    .kildekatalog .col-md-pull-10 {
        right: 83.33333%;
    }
    .kildekatalog .col-md-pull-11 {
        right: 91.66667%;
    }
    .kildekatalog .col-md-pull-12 {
        right: 100%;
    }
    .kildekatalog .col-md-push-0 {
        left: 0;
    }
    .kildekatalog .col-md-push-1 {
        left: 8.33333%;
    }
    .kildekatalog .col-md-push-2 {
        left: 16.66667%;
    }
    .kildekatalog .col-md-push-3 {
        left: 25%;
    }
    .kildekatalog .col-md-push-4 {
        left: 33.33333%;
    }
    .kildekatalog .col-md-push-5 {
        left: 41.66667%;
    }
    .kildekatalog .col-md-push-6 {
        left: 50%;
    }
    .kildekatalog .col-md-push-7 {
        left: 58.33333%;
    }
    .kildekatalog .col-md-push-8 {
        left: 66.66667%;
    }
    .kildekatalog .col-md-push-9 {
        left: 75%;
    }
    .kildekatalog .col-md-push-10 {
        left: 83.33333%;
    }
    .kildekatalog .col-md-push-11 {
        left: 91.66667%;
    }
    .kildekatalog .col-md-push-12 {
        left: 100%;
    }
    .kildekatalog .col-md-offset-0 {
        margin-left: 0;
    }
    .kildekatalog .col-md-offset-1 {
        margin-left: 8.33333%;
    }
    .kildekatalog .col-md-offset-2 {
        margin-left: 16.66667%;
    }
    .kildekatalog .col-md-offset-3 {
        margin-left: 25%;
    }
    .kildekatalog .col-md-offset-4 {
        margin-left: 33.33333%;
    }
    .kildekatalog .col-md-offset-5 {
        margin-left: 41.66667%;
    }
    .kildekatalog .col-md-offset-6 {
        margin-left: 50%;
    }
    .kildekatalog .col-md-offset-7 {
        margin-left: 58.33333%;
    }
    .kildekatalog .col-md-offset-8 {
        margin-left: 66.66667%;
    }
    .kildekatalog .col-md-offset-9 {
        margin-left: 75%;
    }
    .kildekatalog .col-md-offset-10 {
        margin-left: 83.33333%;
    }
    .kildekatalog .col-md-offset-11 {
        margin-left: 91.66667%;
    }
    .kildekatalog .col-md-offset-12 {
        margin-left: 100%;
    }
    .kildekatalog .modal-lg {
        width: 900px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .kildekatalog .visible-md {
        display: block !important;
    }
    .kildekatalog table.visible-md {
        display: table;
    }
    .kildekatalog tr.visible-md {
        display: table-row !important;
    }
    .kildekatalog td.visible-md,
    .kildekatalog th.visible-md {
        display: table-cell !important;
    }
    .kildekatalog .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .kildekatalog .container {
        width: 1170px;
    }
    .kildekatalog .col-lg-1,
    .kildekatalog .col-lg-2,
    .kildekatalog .col-lg-3,
    .kildekatalog .col-lg-4,
    .kildekatalog .col-lg-5,
    .kildekatalog .col-lg-6,
    .kildekatalog .col-lg-7,
    .kildekatalog .col-lg-8,
    .kildekatalog .col-lg-9,
    .kildekatalog .col-lg-10,
    .kildekatalog .col-lg-11,
    .kildekatalog .col-lg-12 {
        float: left;
    }
    .kildekatalog .col-lg-1 {
        width: 8.33333%;
    }
    .kildekatalog .col-lg-2 {
        width: 16.66667%;
    }
    .kildekatalog .col-lg-3 {
        width: 25%;
    }
    .kildekatalog .col-lg-4 {
        width: 33.33333%;
    }
    .kildekatalog .col-lg-5 {
        width: 41.66667%;
    }
    .kildekatalog .col-lg-6 {
        width: 50%;
    }
    .kildekatalog .col-lg-7 {
        width: 58.33333%;
    }
    .kildekatalog .col-lg-8 {
        width: 66.66667%;
    }
    .kildekatalog .col-lg-9 {
        width: 75%;
    }
    .kildekatalog .col-lg-10 {
        width: 83.33333%;
    }
    .kildekatalog .col-lg-11 {
        width: 91.66667%;
    }
    .kildekatalog .col-lg-12 {
        width: 100%;
    }
    .kildekatalog .col-lg-pull-0 {
        right: 0;
    }
    .kildekatalog .col-lg-pull-1 {
        right: 8.33333%;
    }
    .kildekatalog .col-lg-pull-2 {
        right: 16.66667%;
    }
    .kildekatalog .col-lg-pull-3 {
        right: 25%;
    }
    .kildekatalog .col-lg-pull-4 {
        right: 33.33333%;
    }
    .kildekatalog .col-lg-pull-5 {
        right: 41.66667%;
    }
    .kildekatalog .col-lg-pull-6 {
        right: 50%;
    }
    .kildekatalog .col-lg-pull-7 {
        right: 58.33333%;
    }
    .kildekatalog .col-lg-pull-8 {
        right: 66.66667%;
    }
    .kildekatalog .col-lg-pull-9 {
        right: 75%;
    }
    .kildekatalog .col-lg-pull-10 {
        right: 83.33333%;
    }
    .kildekatalog .col-lg-pull-11 {
        right: 91.66667%;
    }
    .kildekatalog .col-lg-pull-12 {
        right: 100%;
    }
    .kildekatalog .col-lg-push-0 {
        left: 0;
    }
    .kildekatalog .col-lg-push-1 {
        left: 8.33333%;
    }
    .kildekatalog .col-lg-push-2 {
        left: 16.66667%;
    }
    .kildekatalog .col-lg-push-3 {
        left: 25%;
    }
    .kildekatalog .col-lg-push-4 {
        left: 33.33333%;
    }
    .kildekatalog .col-lg-push-5 {
        left: 41.66667%;
    }
    .kildekatalog .col-lg-push-6 {
        left: 50%;
    }
    .kildekatalog .col-lg-push-7 {
        left: 58.33333%;
    }
    .kildekatalog .col-lg-push-8 {
        left: 66.66667%;
    }
    .kildekatalog .col-lg-push-9 {
        left: 75%;
    }
    .kildekatalog .col-lg-push-10 {
        left: 83.33333%;
    }
    .kildekatalog .col-lg-push-11 {
        left: 91.66667%;
    }
    .kildekatalog .col-lg-push-12 {
        left: 100%;
    }
    .kildekatalog .col-lg-offset-0 {
        margin-left: 0;
    }
    .kildekatalog .col-lg-offset-1 {
        margin-left: 8.33333%;
    }
    .kildekatalog .col-lg-offset-2 {
        margin-left: 16.66667%;
    }
    .kildekatalog .col-lg-offset-3 {
        margin-left: 25%;
    }
    .kildekatalog .col-lg-offset-4 {
        margin-left: 33.33333%;
    }
    .kildekatalog .col-lg-offset-5 {
        margin-left: 41.66667%;
    }
    .kildekatalog .col-lg-offset-6 {
        margin-left: 50%;
    }
    .kildekatalog .col-lg-offset-7 {
        margin-left: 58.33333%;
    }
    .kildekatalog .col-lg-offset-8 {
        margin-left: 66.66667%;
    }
    .kildekatalog .col-lg-offset-9 {
        margin-left: 75%;
    }
    .kildekatalog .col-lg-offset-10 {
        margin-left: 83.33333%;
    }
    .kildekatalog .col-lg-offset-11 {
        margin-left: 91.66667%;
    }
    .kildekatalog .col-lg-offset-12 {
        margin-left: 100%;
    }
    .kildekatalog .visible-lg {
        display: block !important;
    }
    .kildekatalog table.visible-lg {
        display: table;
    }
    .kildekatalog tr.visible-lg {
        display: table-row !important;
    }
    .kildekatalog td.visible-lg,
    .kildekatalog th.visible-lg {
        display: table-cell !important;
    }
    .kildekatalog .hidden-lg {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .kildekatalog .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        -webkit-overflow-scrolling: touch;
    }

    .kildekatalog .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .kildekatalog .navbar-nav .open .dropdown-menu .dropdown-header,
    .kildekatalog .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }
    .kildekatalog .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .kildekatalog .navbar-nav .open .dropdown-menu > li > a:focus,
    .kildekatalog .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none;
    }
    .kildekatalog .navbar-form .form-group {
        margin-bottom: 5px;
    }
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent;
    }
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7;
    }
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .kildekatalog .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #090909;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #090909;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #090909;
    }
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .kildekatalog .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent;
    }
    .kildekatalog .visible-xs {
        display: block !important;
    }
    .kildekatalog table.visible-xs {
        display: table;
    }
    .kildekatalog tr.visible-xs {
        display: table-row !important;
    }
    .kildekatalog td.visible-xs,
    .kildekatalog th.visible-xs {
        display: table-cell !important;
    }
    .kildekatalog .hidden-xs {
        display: none !important;
    }
}
@media print {
    .kildekatalog * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    .kildekatalog a,
    .kildekatalog a:visited {
        text-decoration: underline;
    }
    .kildekatalog a[href]:after {
        content: " (" attr(href) ")";
    }
    .kildekatalog abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .kildekatalog a[href^="#"]:after,
    .kildekatalog a[href^="javascript:"]:after {
        content: "";
    }
    .kildekatalog blockquote,
    .kildekatalog pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    .kildekatalog thead {
        display: table-header-group;
    }
    .kildekatalog img,
    .kildekatalog tr {
        page-break-inside: avoid;
    }
    .kildekatalog img {
        max-width: 100% !important;
    }
    .kildekatalog h2,
    .kildekatalog h3,
    .kildekatalog p {
        orphans: 3;
        widows: 3;
    }
    .kildekatalog h2,
    .kildekatalog h3 {
        page-break-after: avoid;
    }
    .kildekatalog select {
        background: #fff !important;
    }
    .kildekatalog .navbar {
        display: none;
    }
    .kildekatalog .table td,
    .kildekatalog .table th {
        background-color: #fff !important;
    }
    .kildekatalog .btn > .caret,
    .kildekatalog .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    .kildekatalog .label {
        border: 1px solid #000;
    }
    .kildekatalog .table {
        border-collapse: collapse !important;
    }
    .kildekatalog .table-bordered td,
    .kildekatalog .table-bordered th {
        border: 1px solid #ddd !important;
    }
    .kildekatalog .visible-print {
        display: block !important;
    }
    .kildekatalog table.visible-print {
        display: table;
    }
    .kildekatalog tr.visible-print {
        display: table-row !important;
    }
    .kildekatalog td.visible-print,
    .kildekatalog th.visible-print {
        display: table-cell !important;
    }
    .kildekatalog .hidden-print {
        display: none !important;
    }
}
@keyframes a {
    0% {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.kildekatalog .ui {
    cursor: pointer;
}
.kildekatalog--filterbox {
    padding: 2rem 1rem;
    background-color: #384A53;
}
.kildekatalog .btn {
    border: none;
    height: 36px;
    line-height: 22px;
}
.kildekatalog .btn-primary,
.kildekatalog .btn-primary:hover,
.kildekatalog .btn:hover {
    border: none;
}
.kildekatalog .row {
    margin-left: 0;
    margin-right: 0;
}
.kildekatalog .meta {
    font-style: italic;
}
.kildekatalog .theme {
    margin: 30px 0;
}
.kildekatalog .ui.multiple.dropdown > .label,
.kildekatalog .ui.multiple.dropdown > .label:hover {
    height: 30px;
    line-height: 16px;
    text-decoration: none;
}
.kildekatalog--list__header .row > div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}
.kildekatalog--list__header .row > div:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.kildekatalog--list__header .row > div .active {
    color: #58595b;
}
.kildekatalog--list__header .row > div .active.desc .icon {
    transform: rotate(180deg);
    margin-top: 17px;
}
.kildekatalog--list__header .icon {
    float: right;
}
.kildekatalog--list__header .pointer {
    cursor: pointer;
}
.kildekatalog--list__items--item {
    padding: 15px 0;
}
.kildekatalog--list__items--item__header {
    font-size: 18px;
    line-height: 24px;
}
.kildekatalog--list__items--item__header .icon {
    cursor: pointer;
}
.kildekatalog--list__items--item__header .icon-icons_more-close {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../img/accordionstate.png);
    background-size: 54px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.kildekatalog--list__items--item__header .icon-icons_more-close:hover {
    background-position: 100% 100% !important;
}
.kildekatalog--list__items--item.closed .icon-icons_more-close {
    background-position: 0 100%;
}
.kildekatalog--list__items--item__body {
    transition: height 0.2s !important;
}
.kildekatalog--list__items--item.closed .kildekatalog--list__items--item__body {
    height: 0;
    overflow: hidden;
    transition: height 0.2s !important;
}
.kildekatalog--list__items--item__body > .row {
    padding: 80px 0 0;
}
.kildekatalog--list__items--item__body > .row .mobile-meta {
    margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */
