.mainmenu {
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  z-index: 299792458;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;  
}
.mainmenu .brand {
  /* padding: 15px 60px; */
  /* line-height: 30px; */
  line-height: 100px;
  padding-left: 45px;
  padding-right: 45px;
  display: inline-block;
  float: left;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /* padding-right: 60px; */
}
.mainmenu .brand a {
  color: #E33B00;
  text-decoration: none;
}

/*
.mainmenu #logo {
  padding: 10px 0px 0 10px;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 100;
}

.mainmenu #logo span {
  padding-top: 6px;
  float: right;
}
*/
.mainmenu #logo img{
  height: 40px;
  width: auto;
  margin-top: 15px;
}


.mainmenu ul {
  margin: 0;
  text-transform: uppercase;
}
.mainmenu ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 25px 15px;
  cursor: pointer;
  line-height: 30px;
}
/*
.mainmenu ul li:hover a {
  font-weight: bold;
}*/
.mainmenu ul li a {
  color: #eee;
  text-decoration: none;
}

.mainmenu ul li a:hover, .mainmenu ul li a:focus{
  color: #eb4a6d;
}

.sticky {
  position: fixed !important;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  /* box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05); */
  background-color: #394953;
  line-height: 30px;
}
.sticky .brand {
  line-height: 60px;

}
.sticky ul li a {
  color: #cadde9;
}
.sticky ul li:hover a, .sticky ul li:focus a {
  color: #ffffff;
}

.pattern-overlay {
  background: rgba(0, 0, 0, 0.3) url("http://codemydesign.ru/CMDSpace/image/css/images/overlay.png") repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.menu {
  display: none;
}
/*-----------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .sticky .menu {
    top: 3px;
  }
  .sticky .menu .hamburger {
    background: #6E7982;
  }
  .sticky .menu .hamburger::before, .sticky .menu .hamburger::after {
    background: #6E7982;
  }

  .open.sticky .hamburger {
    background: transparent;
  }

  .open .hamburger {
    background-color: transparent;
  }
  .open .hamburger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open .hamburger::after {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
  }

  .menu {
    display: block;
    outline: none;
    position: relative;
    /*line-height: 60px;*/
    float: left;
    left: 3px;
    top: 3px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
  }
  .menu:hover {
    opacity: 1;
  }

  .hamburger, .hamburger::after, .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }

  .hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
  }

  .hamburger {
    background: #fff;
  }
  .hamburger::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  .hamburger::before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  /*.collapse nav{
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
  }*/
  .navbar {
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;
  }

  ul.navbar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* transform: translateY(-200%); */
    padding-left: 0;
  }
  ul.navbar li {
    line-height: calc((100vh - 60px) / 8);
    display: block;
  }

  .open .navbar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    background-color: #394953;
  }

  .mainmenu .brand {
    display: block;
    text-align: center;
    float: none;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    line-height: 60px;
  }

  .mainmenu #logo img{
	  height: 30px;
	  width: auto;
	  margin-top: 10px;
	}

  .sticky .brand {
    background-color: #394953;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);*/
  }



  .mainmenu {
    height: 64px;


    background-color: #394953;
  }
  #mainmenu.open {
    height: auto;
    min-height: 100%;
  }
  #mainmenu.sticky {
    height: 60px;
  }
  .mainmenu .open.sticky {
    /*height: auto;*&/
  }
}
